/*=====================================================
=            Themes Kult by Ricardo Rauch            =
=====================================================*/
/*==========  Vars  ==========*/
/*==========  General Rules  ==========*/
html,
body {
  background: #000;
}
body {
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-size: 15px;
  font-family: "freight-text-pro";
  font-family: "calluna";
}
a {
  color: #fff;
}
a:hover {
  text-decoration: none;
  color: #50e3c2;
}
.btn {
  padding: 0;
  font-size: 11px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "freight-sans-pro";
  border: 1px solid #555;
  padding: 4px 20px;
  border-radius: 100px;
}
.btn:hover {
  background: #fff;
  border-color: #fff;
  color: #000;
}
h1,
h2,
h3,
h5,
.btn {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}
.bg-header {
  background: linear-gradient(120deg, #50e3c2 0%, #cd78d1 100%);
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  width: 4px;
}
.content {
  margin: 10%;
  max-width: 1000px;
}
.content .container {
  max-width: 100%;
}
.content header {
  max-width: 700px;
  margin-bottom: 60px;
}
.content header h1 {
  font-size: 14px;
  color: #50e3c2;
  margin-bottom: 20px;
}
.content header h1 span {
  position: relative;
  opacity: 0;
}
.content header h1 .t {
  -webkit-animation: text_logo 0.6s ease-in 1s forwards;
}
.content header h1 .k {
  -webkit-animation: text_logo 0.6s ease-in 1.5s forwards;
}
.content header nav {
  position: fixed;
  right: 0;
  top: 0;
  display: block;
  opacity: 0;
  font-size: 13px;
  -webkit-animation: header_top 1s ease-in 10s forwards;
}
.content header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 40px;
  overflow: hidden;
}
.content header nav ul li {
  margin-right: 20px;
  display: inline-block;
}
.content header p {
  opacity: 0;
}
.content header p.p-1 {
  -webkit-animation: theme_animation 1s ease-in 3s forwards;
}
.content header p.p-2 {
  -webkit-animation: theme_animation 1s ease-in 4s forwards;
}
.content .theme {
  background: #222;
  height: 300px;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 5%;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
}
.content .theme:hover img {
  -webkit-transform: scale(1.2);
  -webkit-filter: blur(10px);
}
.content .theme .theme-img {
  overflow: hidden;
}
.content .theme .theme-img img {
  max-width: 100%;
  display: block;
  -webkit-transition: all 0.6s ease-in-out;
  -webkit-filter: grayscale(1);
  -webkit-animation: make_color 0.5s ease-in 12s forwards;
}
.content .theme .overlay {
  background: rgba(0,0,0,0.9);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 30px;
  text-align: center;
  font-family: "freight-sans-pro";
  opacity: 0;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
}
.content .theme .overlay:hover {
  opacity: 1;
  color: #fff;
}
.content .theme .overlay span.theme-title {
  text-transform: uppercase;
  font-family: "freight-sans-pro";
  display: block;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
  color: #f1f1f1;
  margin-top: 130px;
  margin-bottom: 20px;
}
.content .theme.urban {
  -webkit-animation: theme_animation 0.5s ease-in 6s forwards;
}
.content .theme.urban .theme-img img {
  margin: 20px auto;
  max-width: 90%;
}
.content .theme.sidebar {
  -webkit-animation: theme_animation 0.5s ease-in 9s forwards;
}
.content .theme.sidebar .theme-img img {
  max-width: 140%;
  margin: 20px;
}
.content .theme.wpomatic {
  -webkit-animation: theme_animation 0.5s ease-in 7s forwards;
}
.content .theme.wpomatic span.theme-title {
  margin-bottom: 10px;
  margin-top: 100px;
}
.content .theme.wpomatic em {
  font-size: 12px;
  display: block;
  padding: 0 40px;
  font-weight: normal;
  font-family: "freight-text-pro";
  font-style: normal;
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 20px;
}
.content .theme.wpomatic .theme-img img {
  max-width: 80%;
  margin: 60px auto;
}
.content .theme.symbol {
  -webkit-animation: theme_animation 0.5s ease-in 8s forwards;
}
.statement {
  opacity: 0;
  -webkit-animation: theme_animation 0.5s ease-in 10s forwards;
}
/*==========  KeyFrames  ==========*/
/*==========  Media Queries  ==========*/
@media screen and (max-width: 568px) {
  body {
    text-align: center;
  }
  .content header nav {
    position: static;
  }
  .content .theme {
    position: static;
    height: auto;
  }
  .content .theme .theme-img img {
    max-width: 100%;
    max-height: 100%;
  }
  .content .theme .overlay {
    opacity: 1;
    position: static;
    padding: 20px;
    background-color: rgba(0,0,0,0.4);
  }
  .content .theme .overlay span.theme-title {
    margin: 0;
    margin-bottom: 10px;
  }
}
@-moz-keyframes theme_animation {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes theme_animation {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}
@-o-keyframes theme_animation {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}
@-ms-keyframes theme_animation {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}
@keyframes theme_animation {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes text_logo {
  0% {
    opacity: 0;
    top: -20px;
  }

  90% {
    opacity: 0.3;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}
@-webkit-keyframes text_logo {
  0% {
    opacity: 0;
    top: -20px;
  }

  90% {
    opacity: 0.3;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}
@-o-keyframes text_logo {
  0% {
    opacity: 0;
    top: -20px;
  }

  90% {
    opacity: 0.3;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}
@-ms-keyframes text_logo {
  0% {
    opacity: 0;
    top: -20px;
  }

  90% {
    opacity: 0.3;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes text_logo {
  0% {
    opacity: 0;
    top: -20px;
  }

  90% {
    opacity: 0.3;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}
@-moz-keyframes header_top {
  0% {
    top: -100px;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}
@-webkit-keyframes header_top {
  0% {
    top: -100px;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}
@-o-keyframes header_top {
  0% {
    top: -100px;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}
@-ms-keyframes header_top {
  0% {
    top: -100px;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes header_top {
  0% {
    top: -100px;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}
@-moz-keyframes make_color {
  0% {
    -webkit-filter: grayscale(1);
  }

  100% {
    -webkit-filter: grayscale(0);
  }
}
@-webkit-keyframes make_color {
  0% {
    -webkit-filter: grayscale(1);
  }

  100% {
    -webkit-filter: grayscale(0);
  }
}
@-o-keyframes make_color {
  0% {
    -webkit-filter: grayscale(1);
  }

  100% {
    -webkit-filter: grayscale(0);
  }
}
@-ms-keyframes make_color {
  0% {
    -webkit-filter: grayscale(1);
  }

  100% {
    -webkit-filter: grayscale(0);
  }
}
@keyframes make_color {
  0% {
    -webkit-filter: grayscale(1);
  }

  100% {
    -webkit-filter: grayscale(0);
  }
}
